<div class="w-[calc(100%-256px)] h-screen lg:translate-x-64">
    <h3 class="text-3xl text-center text-white">List of properties</h3>

    <div class="grid grid-cols-1 gap-4 p-4 overflow-hidden md:grid-cols-2 lg:grid-cols-3">
        <!-- Houses -->
        <div
            class="max-w-sm overflow-hidden bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
            *ngFor="let house of houses"
        >
            <div>
                <mini-map [lngLat]="house.lngLat"></mini-map>
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ house.title }}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{ house.description }}</p>
            </div>
        </div>
    </div>
</div>
