<div #map class="w-screen h-screen overflow-hidden"></div>

<div class="fixed right-0 flex flex-col gap-3 p-3 mb-3 mr-2 rounded-lg bottom-4 bg-white/80">
    <div class="flex gap-3">
        <button class="px-4 py-2 text-xl font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700" (click)="createMarker()"> + Add Marker </button>
    </div>
</div>

<ul class="fixed flex flex-col gap-1 p-3 mb-3 mr-2 rounded-lg right-10 top-2 bg-white/80">
    <li *ngFor=" let marker of markers, let i = index" class="px-4 py-2 text-white rounded-md" [ngStyle]='{background: marker.color}' (dblclick)="deleteMarker(i)"> Marker {{ i + 1 }} </li>
</ul>